  <html>
    <head>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </head>
<body>
  <h1>Stupid Coaching!</h1>
  <h1><%= @question %></h1>
  <h2>-You</h2>


  <h1><%= @answer %></h1>
  <h2>-Your coach</h2>

<!-- display question
display answer -->

  <%= link_to "Ask a new question", "/ask" %>
</body>

  </html>
